    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }
    
    .container {
        height: 100vh;
    }
    
    .header {
        height: 75px;
        width: 100%;
        background-color: #0f1111;
        display: flex;
        color: rgb(193, 180, 180);
    }
    
    .amazone-logo img {
        height: 80px;
        width: 11rem;
        margin: 1px;
    }
    
    .text-location {
        padding: 12px 9px;
        margin: 5px 2px 5px 0px;
        font-size: 14px;
        color: #FFFFFF;
    }
    
    .text-location p {
        line-height: 1rem;
        font-size: 12px;
    }
    
    .opt {
        height: 2.7rem;
        width: 3.8rem;
        background-color: #fff;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        text-align: center;
    }
    
    .search-icon {
        height: 2.7rem;
        width: 3rem;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        font-size: 1.6rem;
        opacity: 0.75;
        background-color: rgb(167, 216, 69);
    }
    
    .search-bar {
        display: flex;
        align-items: center;
        color: #000;
    }
    
    .search-box {
        width: 500px;
        height: 2.7rem;
        font-size: 1rem;
        border: none;
    }
    
    .EN {
        margin: 0.25rem;
    }
    
    .flag-img {
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
    }
    
    .flag-img img {
        height: 1rem;
        width: 1.4rem;
    }
    
    .text {
        padding: 0px 9px 10px;
        margin-top: 20px;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #FFFFFF;
    }
    
    .text p {
        font-size: 12px;
    }
    
    .text h3 {
        font-size: 1rem;
    }
    
    .cart {
        margin: 0px 3px 0px 0px;
        padding: 32px 9px 11px;
        margin-left: 1rem;
        font-size: 13px;
        font-weight: 700;
        color: #FFFFFF;
    }
    
    .cart i {
        font-size: 1.5rem;
    }
    
    .nav-bar {
        display: flex;
        height: 40px;
        width: 100%;
        background-color: rgb(36, 36, 60)
    }
    
    .ham-bar {
        display: flex;
        padding-left: 2rem;
        padding-top: 0.75rem;
        font-size: 1.2rem;
        color: #fff;
    }
    
    .nav-bar i {
        font-size: 1.32rem;
        color: #fff;
    }
    
    .hambar-text {
        font-size: 1rem;
        font-weight: bolder;
        padding-left: 0.25rem;
        color: #fff;
    }
    
    .nav-text {
        display: flex;
        align-items: center;
        padding-left: 3rem;
        color: #fff;
        gap: 1.5rem;
    }
    
    .nav-text p {
        color: #ffffff;
        font-size: 14px;
    }
    
    .shop-elect p {
        color: #fff;
        font-size: 18px;
        margin-left: 21rem;
        padding: 0.75rem;
        font-weight: 700;
    }
    
    .main-contant {
        background: url(image/hero_image.jpg);
        background-size: cover;
        height: 360px;
    }
    
    .shop-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #e2e7e6;
    }
    
    .box {
        height: 400px;
        width: 23%;
        background-color: #ffffff;
        padding: 20px 0px 15px;
        font-size: 0.79rem;
        margin-top: 1rem;
    }
    
    .box-img {
        height: 300px;
        background-size: cover;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .box-contant p {
        color: rgb(26, 112, 112);
    }
    
    .box-contant {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .footer-pannel-1 {
        height: 40px;
        background-color: rgb(70, 70, 121);
        margin-top: 1rem;
        padding-top: 12px;
        font-size: 13px;
        font-weight: 300;
        color: #e2e7e6;
        display: flex;
        justify-content: center;
    }
    
    .footer-pannel-1:hover {
        opacity: 0.91;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .footer-pannel-2 {
        height: 300px;
        background-color: rgb(9, 9, 35);
        opacity: 0.85;
        color: #e2e7e6;
        display: flex;
        justify-content: space-evenly;
    }
    
    ul a {
        display: block;
        padding: 0.45rem;
        font-size: 0.89rem;
        color: #dddd;
    }
    
    .text-pannel {
        margin: 35px 0px 0px;
    }
    
    .text-pannel h3 {
        font-weight: 700;
        font-size: 1rem;
    }
    
    .footer-pannel-3 {
        height: 70px;
        opacity: 0.85;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: rgb(9, 9, 35);
        border-top: 0.01px solid rgb(121, 121, 121);
    }
    
    .footer-pannel-3 img {
        height: 60px;
        padding-right: 5rem;
    }
    
    .Eng-box {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        font-size: 0.88rem;
        border-radius: 5px;
        gap: 10px;
        color: #fff;
        height: 40px;
        width: 150px;
        opacity: 0.65;
    }
    
    .foot-text-4 a {
        padding: 7.2px;
    }
    
    .foot-text-4 p {
        padding-left: 50px;
        padding-top: 6px;
    }
    
    .footer-pannel-4 {
        background-color: #131A22;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px 30px;
        color: #DDDD;
        font-size: 0.79rem;
    }